<?xml version="1.0"?>
<robot name="max_lite" >

  <property name='calib_cam_x' value='0.00259672' />
  <property name='calib_cam_y' value='0.0307021' />
  <property name='calib_cam_z' value='0.0133213' />
  <property name='calib_cam_rr' value='-0.0829819' />
  <property name='calib_cam_rp' value='0.00482693' />
  <property name='calib_cam_ry' value='0.0643122' />

  <property name="arm_height" value="0.6619375 " /> <!-- deck to arm_link -->
  <property name="column_height" value="1.171575" /> <!-- deck to top of 80/20: 46-1/8" -->
  
  <include filename="$(find maxwell_defs)/urdf/hardware/ax12.xacro" />
  <include filename="$(find maxwell_defs)/urdf/hardware/rx28.xacro" />
  
  <!-- The following included files set up definitions of parts of the robot body -->
  <include filename="$(find maxwell_defs)/urdf/base.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/torso.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/gripper.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/head.urdf.xacro" />
  <include filename="$(find maxwell_defs)/urdf/materials.urdf.xacro" />
  <include filename="$(find max_lite)/urdf/arm_lite.urdf.xacro" />

  <!-- Now we can start using the macros included above to define the actual Max Lite -->
  <armadillo_base name="base" color="Blue"/>

  <!-- Add Torso Upright -->
  <maxwell_torso name="torso" parent="base">
    <origin xyz="-0.00635 0 ${base_size_z}"/>
  </maxwell_torso>

  <!-- Arm -->
  <max_lite_arm name="arm" parent="torso">
    <origin xyz="0.0513 0 ${arm_height}"/>
  </max_lite_arm>

  <!-- Gripper -->
  <maxwell_gripper name="gripper" parent="arm_wrist_roll" color="Blue">
    <origin xyz="0 0 0" /> 
  </maxwell_gripper>

  <!-- Head -->
  <maxwell_head name="head" parent="torso" color="Blue">
    <origin xyz="0 0 ${column_height}"/>
  </maxwell_head>

</robot>
